VITE_API_URL=https://api.TON_DOMAINE.com/api
VITE_WS_URL=https://api.TON_DOMAINE.com
VITE_SOCKET_SECRET=CHANGE_ME
VITE_API_KEY=

STORAGE_URL=https://storage.vps.buyticle.com
STORAGE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlhdCI6MTYxMzUzMTk4NSwiZXhwIjoxOTI5MTA3OTg1fQ.Zh6_Tis6i9tJ0pUUhjEgS8Z6JoCxxxIoNSYztm0Zsec